<div class="container">

    <form [formGroup]="friendDetailsForm" novalidate>
  
      <div *ngIf="validMessage != ''">
  
        <h6 class="valid">{{validMessage}}</h6>
  
      </div>
  
   
  
      <div class="form-group">
  
        <label><b>Please select a user :</b></label>
  
        <select class="form-control" formControlName="id" [(ngModel)]="selectedElement" required>
  
          <option value="">Please select a user</option>
          
          <option *ngFor="let user of users"
  
                  [value]="user.id.userId">
  
                   {{user.name}}
  
          </option>

        </select>
        <br> <br> 
        <div align="center">
          <button (click)="getFriendListQuery(selectedElement)">Get Friends List</button> <br> <br>
          <button (click)="getSuggestedFriendListQuery(selectedElement)">Get Suggested Friends List</button> <br> <br>
          <button (click)="getSuggestedFriendListGenographicallyQuery(selectedElement)">Get Suggested Friends Geographically</button> <br> <br>
        </div>
      </div>
    </form>
  </div>
  <hr>

<div class="container">

    <h3 align="center">{{title}}</h3>

    <div class="row">
      <table align="center" >
         <div class="col-md-12">
           <tr>
            <div class="col-md-6">
             <th> Name </th>
             </div>
             <div class="col-md-6">
             <th> City  </th>
             </div>
          </tr>
          <div *ngFor="let friend of friends"> 
            
            <tr>
            <td>
            <div class="col-md-6">
              {{friend.name}}
            </div>
            </td>
            <td>
            <div class="col-md-6">
                {{friend.city}}
              </div>
            </td>
            </tr>
            </div>
           
          </div>
        </table>
        </div>   
  </div>


